*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
} 
body, html {
    width: 100%;
}
html{
    font-size: 16px;
}
body{
    background-color: #f3f7f7;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;    
}
/* Navbar style start */
nav{
    height: 5rem;
    background-color: #011;
    padding: 0 4%;
    font-size: 1.3rem;
    width: 100vw;
}

nav, nav ul, nav .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    color: white;
}

nav ul {
    list-style: none;
    gap: 3rem;
}
nav ul a{
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}
nav ul a:hover{
    border-bottom: 1px solid white;
}

nav .btn-container{
    gap: 2rem;
}
nav .btn-container a{
    color: black;
    background-image: linear-gradient(violet, white);
    display: block;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}
nav .btn-container a:hover{
    background-image: linear-gradient(white, violet);
}
.menu-btn, .delete-btn{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    color: #f3f7f7;
    display: none;
    z-index: 4443;
    background-color: transparent;
    cursor: pointer;
}

/* nav style ended */

/* header img start  */
.bannar{
    width: 100%;
    min-height: calc(100vh - 5rem);
    max-height: fit-content;
    padding-bottom: 0.5rem;
    display: flex;
    background-image: linear-gradient(-200deg, rgba(154,100,54,255)
    ,rgba(182,126,67,255),rgba(144,82,43,255), rgba(144,82,43,255),rgba(182,126,67,255));
    flex-direction: column;    
}
.bannar h2{
    text-align: center;
    margin: 1rem 0;
    color: #eee;
}
.bannar img{
    width: 50%;
    height: 26rem;
    object-fit: fill;
    margin: 0 auto;
    border-radius: 5px;
}
.word{
    margin-top: 0.7rem;
    min-height: 2rem;
    font-size: 1.7rem;
    color: #eee;
    text-align: center;
    background: linear-gradient(to right, violet, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Main style start */
main div h2{
    text-align: center;
    margin: 1.5rem 0 0.5rem 0;
}
.welcome > div{
    display: flex;
    min-height: 23rem;
    max-width: fit-content;
    gap: 2rem;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;  
}
.welcome img{
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.welcome div p{
    font-size: 1.2rem;
    text-align: justify;
}

div p em{
    display: inline-block;
    width: 4rem;
} 

/* Welcome style end */

/* Service style start */

.services > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 30%)); /* Create flexible columns */
    justify-content: center; /* Center items horizontally */
    gap: 2rem;
    margin: 2rem 0rem;
    padding: 0 2rem;
}

.services > div > div{
    background-color:  rgb(231,235,241);
    padding: 2rem;
    border-radius: 10px;
}
.services > div h4{
    text-align: center;
    margin-bottom: 1rem;
}
.services > div .service--paragraph{
    font-family:sans-serif,Arial, Helvetica;
    height: 15rem;
}
.services > div button{
    padding: 0.5rem;
    background-color: rgba(154,100,54,255);
    outline: none;
    color: #f3f7f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Subscription style start */
.program h2, .program h3 {
    text-align: center;
}
.program--container{
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.program--container--first{
    width: 65%;
    background-color: rgb(231,235,241);
    padding: 2rem 0;
    line-height: 1.5rem;
    font-family:sans-serif,Arial, Helvetica;
    border-radius: 10px;
}
.program--container--last{
    width: 30%;
    background-color: rgb(144,82,43);
    color: #f3f7f7;
    padding: 2rem 0;
    text-align: center;
    border-radius: 10px;
}
.program--container--first--div{
    display: flex;
    padding: 1rem 2rem;
    gap: 2rem;
}
.newspaper input{
    width: 90%;
    height: 1.5rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    
}
input, button{
    outline: none;
    border: none;
}
.newspaper button{
    width: 7rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

footer{
    display: flex;
    background-color: #011;
    color: #f3f7f7;
    gap: 3rem;
    padding: 2rem 3rem;
    margin-top: 1rem;
}
footer div{
    width: 100%;
}
footer div a{
    color: #f3f7f7;
}
footer div button{
    background-image: linear-gradient(white, violet);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
footer div button a{
    color: #011;
    text-decoration: none;
}
.icon{
    display: inline-block;
    margin: 0 0.25rem;
}
@media only screen and (max-width: 1219px){
    nav ul {
        gap: 2rem;
    }
    .services  h4{
        height: 2rem;
    }
}
/* Tablet viewport */
@media only screen and (max-width: 1024px){
    /* Display the btn */
    .menu-btn{
        display: block;

    }
    
    nav ul, nav .btn-container{
        position: absolute;
        right: 0;
        width: 0px;
        height: 0px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        flex-direction: column;
        padding-bottom: 1rem;
        gap: 1rem;
        transform: translateX(100%);
        opacity: 0;
        transition: all 1s ease, opacity 0.9s ease;
        
    }
    nav ul{
        padding-top: 1rem;
        background-color: #011;
        height: 16rem;
        justify-content: start;
        top: 5rem; 
    }
    .active ~ ul, .active ~ .btn-container{
        transform: translateX(0);
        width: 15rem;
        opacity: 1;
        
    }
    
    nav .btn-container{ 
        top: 14rem; 
        height: auto;
    }  
     /* Bannar */
     
     .bannar img{
        width: 70%;
        height: 28rem;
    }
    .word{
        margin-top: 0.6rem;
        font-size: 1.5rem;
        max-height: auto;
    }
    /* Welcome section */
    .welcome > div{
        flex-direction: column;
    }
    .welcome div p{
        font-size: unset;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }
    .welcome img{
        width: 70%;
        height: auto;
    }
    /* Service */
    .services > div{
        padding-left: 5%;
        padding-right: 5%;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 40%));
        padding: 0 1rem;
    }
    .services > div .service--paragraph{
        height: 13rem;
    }
    /* Program */
    .program--container{
        padding: 0 1rem;
    }
    .program--container--first{
        width: 90%;
    }
    .program--container--last{
        width: 90%;
        padding: 1rem 0;
    }
    .newspaper h2{
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    /* Footer */
    footer{
        display: flex;
        gap: 2rem;
        padding: 2rem;
        margin-top: 1rem;
        flex-wrap: wrap;
    }
    footer  div{
        min-width: 15rem;
        max-width: 30%;
    }

}
@media only screen and (max-width: 765px){
    .program--container--first--div{
        display: flex;
        flex-direction: column;
    }

}
@media only screen and (max-width: 600px){
    html{
        font-size: 14px;
    }
    .active ~ ul{
        height: calc(100vh - 5rem);
        justify-content: start;
        gap: 2rem;
        width: 100vw;
    }
    .active ~  .btn-container{ 
        top: 16rem;
        width: 100vw;        
    }
    /* Bannar */
    .bannar{
        min-height: 35rem;
    }
    .bannar img{
        width: 100%;
        height: auto;
    }
    .word{
        margin-top: 0.6rem;
        font-size: 1.5rem;
    }
    /* Welcome section */
    .welcome img{
        width: 100%;
    }
    /* Service */
    .services > div{
        grid-template-columns: 90%;
        padding: 0 0.5rem;
    }
    .services > div .service--paragraph{
        height: 11rem;
    }
    /* Program */
    .program--container{
        padding: 0 0.5rem;
    }
    .program--container--first{
        width: 90%;
    }
    .program--container--last{
        width: 90%;
    }
    
}
@media only screen and (max-width: 400px){
    nav{
        padding: 0 2%;
    }
    .menu-btn, .delete-btn{
        right: 1rem;
    }
    .bannar{
        min-height: 28em;
    }
    .bannar > h2{
        display: none;
    }
    /* Service */
    .services > div{
        grid-template-columns: 98%;
    }
    .services > div .service--paragraph{
        height: 10rem;
    }
    .services > div .tutoring .service--paragraph{
        height: 16rem !important;
    }
    /* Program */
    .program--container--first{
        width: 98%;
    }
    .program--container--last{
        width: 98%;
    }
}
@media only screen and (max-width: 340px){
    body, html {
        width: 100%;
        height: 100%;
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
    nav div{
        font-size: 1.1rem;
    }
    .menu-btn, .delete-btn{
        right: 0.5rem;
    }
    /* Footer */
    footer  div{
        min-width: 100%;
        max-width: 100%;
        text-wrap: wrap;
    }  
}
/* Add responsiveness for smart wacthes */





